/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
body {
    background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    margin: 0;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

#video-placeholder {
    display: block;
    margin: auto;
    margin-top: 10em;
    width: 800px;
    height: 450px;
    z-index: 98;
    position: relative;
}

#closed-captions p {
    opacity: 0;
    transition: .05s;
    position: absolute;
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .2s;
    opacity: 0;
}

/* robot stem */
.voice1 {
    font-family: "brenner mono";
    right: 28vw;
    font-size: 22px;
    text-shadow: white 0px 0px 10px;
    text-align: right;
}

/* coole man stem */
.voice2 {
    font-family: "brenner sans";
    color: #cee0c7;
    left: 28vw;
    font-size: 22px;
}

.voice3 {
    font-family: "brenner sans condensed";
    color: orangered;
    left: 35vw;
    bottom: 62vh;
    font-size: 25px;
    z-index: 99;
}

.voice4 {
    font-family: "brenner sans";
    color: cadetblue;
    right: 28vw;
    bottom: 10vh;
    font-size: 25px;
}

.cellsx2 {
    font-size: 25px;
}

.cellsx3 {
    font-size: 35px;
}

.cellsx4 {
    font-size: 45px;
    margin-top: 25px;
}

.cellsx5 {
    font-size: 55px;
    margin-top: 25px;
}

.cellsx6 {
    font-size: 65px;
    margin-top: 25px;
}

.cellsx7 {
    font-size: 75px;
    margin-top: 25px;
}

.uppercase {
    text-transform: uppercase;
}

.korter {
    width: 390px;
}

.korter2 {
    width: 430px;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
/*
.p0 span {
	opacity: 0;
	font-family: brenner;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
    font-family: "brenner mono";
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
    font-family: "brenner mono";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
    font-family: "brenner mono";
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
    font-family: "brenner mono";
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
    font-family: "brenner mono";
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
    font-family: "brenner mono";
}
*/

.eigentekst {
    font-family: "brenner sans condensed";
    position: absolute;
    color: white;
    text-align: center;
    font-size: 2em;
    width: 30%;
    right: 35%;
    bottom: 15%;
    opacity: 0;
}

.eigentekstlager {
    bottom: 5%;
}

.intromusic {
    position: absolute;
    width: 100%;
    height: 10%;
    background: white;
    filter: blur(200px);
    opacity: 0;
    bottom: 1%;
}

.sound0 .intromusic,
.sound0 .intromusicP {
    animation-duration: 2s;
    animation-name: Alarmpje;
}

.sound2 {
    background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    animation: sound2keyframes 1s linear;
}

.sound2 .buzzerP {
    animation-duration: 1s;
    animation-name: Alarmpje;
}

.sound3 {
    background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    animation: sound3keyframes 1s linear;
}

.sound3 .sirenP {
    animation-duration: 2s;
    animation-name: Alarmpje;
}

/*
.sound3 .sirensound2 {
    animation-duration: 2s;
    animation-name: sound3opacity;
}
*/

@-webkit-keyframes sound2keyframes {
    0% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    }

    10% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(60, 0, 8));
    }

    20% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(120, 0, 8));
    }
}

@-webkit-keyframes sound3keyframes {
    0% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(15, 16, 17, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(100, 0, 0, 1) 100%);
    }

    25% {
        background: linear-gradient(90deg, rgba(0, 52, 122, 1) 0%, rgba(15, 16, 17, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
    }

    50% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(15, 16, 17, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(100, 0, 0, 1) 100%);
    }

    75% {
        background: linear-gradient(90deg, rgba(0, 52, 122, 1) 0%, rgba(15, 16, 17, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
    }

    100% {
        background: linear-gradient(-90deg, rgba(0, 0, 0, 1) 0%, rgba(15, 16, 17, 1) 30%, rgba(15, 16, 17, 1) 70%, rgba(0, 0, 0, 1) 100%);
    }
}

/*
@-webkit-keyframes sound3opacity {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
*/

.sound5 {
    animation: sound5keyframes 1s linear;
}

.sound5 .alarmP {
    animation-duration: 2s;
    animation-name: Alarmpje;
}

@keyframes Alarmpje {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.sound6 {
    background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    animation: sound6keyframes 1s linear;
}

@-webkit-keyframes sound5keyframes {
    0% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    }

    10% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(10, 0, 8));
    }

    20% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(20, 0, 8));
    }

    30% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(30, 0, 8));
    }

    40% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(40, 0, 8));
    }

    50% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(50, 0, 8));
    }

    60% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(60, 0, 8));
    }

    70% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(70, 0, 8));
    }

    80% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(50, 0, 8));
    }

    90% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(30, 0, 8));
    }

    100% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(10, 0, 8));
    }
}

@-webkit-keyframes sound6keyframes {
    0% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    }

    10% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(60, 0, 8));
    }

    20% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(120, 0, 8));
    }

    30% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(180, 0, 8));
    }

    40% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(255, 0, 8));
    }

    50% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(255, 0, 8));
    }

    60% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(255, 0, 8));
    }

    70% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(255, 0, 8));
    }

    80% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(255, 0, 8));
    }

    90% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(225, 0, 8));
    }

    100% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(255, 0, 8));
    }
}

.sound7 {
    animation: sound7keyframes 1s linear;
}

.sound7 .alarmbinnenP {
    animation-duration: 2s;
    animation-name: Alarmpjebinnen;
}

@keyframes Alarmpjebinnen {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes sound7keyframes {
    0% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    }

    10% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(10, 0, 8));
    }

    20% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(20, 0, 8));
    }

    30% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(30, 0, 8));
    }

    40% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(40, 0, 8));
    }

    50% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(50, 0, 8));
    }

    60% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(60, 0, 8));
    }

    70% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(70, 0, 8));
    }

    80% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(50, 0, 8));
    }

    90% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(30, 0, 8));
    }

    100% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(10, 0, 8));
    }
}

.sound8 {
    animation: sound8keyframes 1s linear;
}

@-webkit-keyframes sound8keyframes {
    0% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
    }

    10% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(20, 0, 8));
    }

    20% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(40, 0, 8));
    }

    30% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(60, 0, 8));
    }

    40% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(80, 0, 8));
    }

    50% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(100, 0, 8));
    }

    60% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(110, 0, 8));
    }

    70% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(120, 0, 8));
    }

    80% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(130, 0, 8));
    }

    90% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(150, 0, 8));
    }

    100% {
        background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(150, 0, 8));
    }
}

.pieptoon {
    position: absolute;
    width: 10%;
    height: 100vw;
    background: white;
    filter: blur(100px);
    opacity: 0;
    left: 0%;
    bottom: 1%;
}

.pieptoonrechts {
    position: absolute;
    width: 10%;
    height: 100vw;
    background: white;
    filter: blur(100px);
    opacity: 0;
    right: 0%;
    bottom: 1%;
}



.sound9 {
    background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(152, 178, 144));
}

.sound9 .pieptoon,
.sound9 .pieptoonrechts {
    animation-duration: 42.2s;  
    animation-name: pieptoonriser;
}

/*Boven: 42.2s - Onder: 35.2s;*/

.sound9 .pieptoonP {
    animation-duration: 35.2s;
    animation-name: pieptoonPriser;
}

@keyframes pieptoonriser {
    0% {
        opacity: 0;
        background: white;
        width: 10%;

    }

    80% {
        opacity: 1;
        background: white;
        width: 10%;
    }

    100% {
        opacity: 1;
        background: red;
        width: 15%;
    }
}

@keyframes pieptoonPriser {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*
@keyframes pieptoonPriser {
  from {
    font-size: 2em;
  }
  to {
    font-size: 2em;
  }
}
*/

.sound10 {}

.sound10 .tensionP {
    animation-duration: 3s;
    animation-name: Alarmpje;
}

.sound11 {
    background: radial-gradient(circle at center center, rgb(35, 35, 35), rgb(0, 0, 8));
}

.sound11 .silenceP {
    animation-duration: 1s;
    animation-name: Alarmpje;
}

.sound12 .musicP {
    animation-duration: 16s;
    animation-name: mysteriousmusictekst;
}

.muziekgloedlinks {
    position: absolute;
    width: 10%;
    height: 100vw;
    background-color: #211e4e;
    filter: blur(100px);
    opacity: 0;
    left: 0%;
    bottom: 1%;
}

.muziekgloedrechts {
    position: absolute;
    width: 10%;
    height: 100vw;
    background-color: #211e4e;
    filter: blur(100px);
    opacity: 0;
    right: 0%;
    bottom: 1%;
}

.sound12 .muziekgloedlinks,
.sound12 .muziekgloedrechts {
    animation-duration: 30s;
    animation-name: mysteriousmusic;
}

@keyframes mysteriousmusictekst {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mysteriousmusic {
    0% {
        opacity: 0;
        background-color: #211e4e;
    }

    10% {
        opacity: 1;
        background-color: rebeccapurple;
    }

    20% {
        opacity: 1;
        background-color: #211e4e;
    }

    30% {
        opacity: 1;
        background-color: rebeccapurple;
    }

    40% {
        opacity: 1;
        background-color: #211e4e;
    }

    50% {
         opacity: 1;
        background-color: rebeccapurple;
    }

    60% {
         opacity: 1;
        background-color: #211e4e;
    }

    70% {
         opacity: 1;
        background-color: rebeccapurple;
    }

    80% {
         opacity: 1;
        background-color: #211e4e;
    }

    90% {
         opacity: 1;
        background-color: rebeccapurple;
    }

    100% {
        opacity: 0;
        background-color: #211e4e;
    }
}

.message {
    position: absolute;
    width: 100%;
    height: 10%;
    background: white;
    filter: blur(200px);
    opacity: 0;
    bottom: 1%;
}

.sound13 .message {
    animation-duration: 1s;
    animation-name: message;
    z-index: 1;
}

.sound13 .messageP {
    animation-duration: 1s;
    animation-name: Alarmpje;
}

@keyframes message {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
    
    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}

.muziekgloedgroterlinks {
    position: absolute;
    width: 20%;
    height: 100vw;
    background-color: #211e4e;
    filter: blur(100px);
    opacity: 0;
    left: 0%;
    bottom: 1%;
}

.muziekgloedgroterrechts {
    position: absolute;
    width: 20%;
    height: 100vw;
    background-color: #211e4e;
    filter: blur(100px);
    opacity: 0;
    right: 0%;
    bottom: 1%;
}

.sound14 .musicharderP {
    animation-duration: 4s;
    animation-name: mysteriousmusictekst;
}

.sound14 .muziekgloedgroterlinks,
.sound14 .muziekgloedgroterrechts {
    animation-duration: 18.5s;
    animation-name: mysteriousmusic;
}

.sound15 .musicfadeoutP {
    animation-duration: 1s;
    animation-name: Alarmpje;
}

.fadeout {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    left: 0%;
    bottom: 0%;
}

.sound16 .fadeout {
    animation-duration: 4s;
    animation-name: fadeout;
}

@keyframes fadeout {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
